/* Write your CSS here */
.teamMatches-container {
  min-height: 100vh;
  padding: 20px;
}
.banner-image {
  height: 120px;
  width: 100%;
}

.latest-heading {
  font-family: Bree Serif;
  color: white;
  font-size: 14px;
  text-align: left;
}
.recentmatchList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: space-between;
}
@media screen and (min-width: 575px) {
  .banner-image {
    height: 330px;
  }
  .teamMatches-container {
    padding: 40px;
  }
}
.SH {
  background-image: linear-gradient(#f26d22, white);
}
.KKR {
  background-image: linear-gradient(#4f5db0, #0f172a);
}
.CSK {
  background-image: linear-gradient(#f7db00, #13418b);
}
.MI {
  background-image: linear-gradient(#13418b, white);
}
.RCB {
  background-image: linear-gradient(#d91c1f, black);
}
.KXP {
  background-image: linear-gradient(#d91c1f, black);
}
.DC {
  background-image: linear-gradient(#13418b, white);
}
.RR {
  background-image: linear-gradient(#d73684, white);
}
.loaderr {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
